<div class="wrap clearfix">
    <div class="row">
        <article class="content center full-width">
            <h5>About Heart Food</h5>
            <p>Heart Food is a social community which allows your family to connect and share your favorite recipes.</p>
        </article>
        <!-- <article class="one-third">
            <h5>Need help?</h5>
            <p>Contact us</p>
            <p><em>T:</em>  +1 555 555 555<br /><em>E:</em>  <a href="#">socialchef@email.com</a></p>
        </article>				 -->
        <div class="bottom">
            <p class="copy">Copyright 2021 Heart Food. All rights reserved</p>
            
            <nav class="foot-nav">
                <ul>
                    <li><a href="/" title="Home">Home</a></li>
                    <li><a href="contact.html" title="Contact">Contact</a></li>    
                    <li><a href="find_recipe.html" title="Search for recipes">Search for recipes</a></li>
                    <li><a href="/login" title="Login">Login</a></li>	
                    <li><a href="/register" title="Register">Register</a></li>	<li><a href="/logout" title="Register">Log Out</a></li>													
                </ul>
            </nav>
        </div>
    </div>
</div>