
		
		<div class="wrap clearfix">
			<a href="/" title="SocialChef" class="logo"><img src="images/ico/Heart_Food_logo.png" height="60px" alt="Heart Food logo"/></a>
			
			<nav class="main-nav" role="navigation" id="menu">
				<ul>
					<li class=""><a href="/" title="Home"><span>Home</span></a></li>
					</li>
					<li><a href="/login" title="Login"><span>Login</span></a>
						<ul>
							<li><a href="/logout" title="logout">Logout</a></li>	
						</ul>
					</li>
					<li><a href="contact.html" title="Contact"><span>Contact</span></a></li>				</ul>
			</nav>
			
			<nav class="user-nav" role="navigation">
				<ul>
					<!-- <li class="light"><a href="find_recipe.html" title="Search for recipes"><i class="icon icon-themeenergy_search"></i> <span>Search for recipes</span></a></li> -->
					<li class="medium"><a href="/my_profile" title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>My account</span></a></li>
					
					<li class="dark"><a href="/familyDashboard" title="My Family"><i class="icon icon-themeenergy_love"></i> <span>My Family</span></a></li>
				</ul>
			</nav>
		</div>
		